body {
	font-family: 'OpenSans', sans-serif;
	background: #212121;
}

img {
	width:45%;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;
    font-size: 40px;
    color: #BDBDBD;
}

.active {
	color: #fff;
}

.single {
	font-size: 80px;
}
